* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c2d6e7;
}

.weather-info {
    position: relative;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px;
}

.weather-info input {
    border: 1px solid black;
    width: 500px;
    border-radius: 5px;
    padding: 5px 40px 5px 8px;
    background-color: white;
    height: 30px;

}

.weather-info #serch-svg {
    width: 28px;
    position: absolute;
    left: 772px;
    top: 36px;
    color: white;
    background-color: black;
    border-radius: 0 5px 5px 0;
    padding: 2px;
}

.grid {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 0 30px;
    gap: 30px;
    margin-top: 50px;
}

.data {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.data img {
    height: 300px;
    object-fit: contain;
    object-position: left;
}

.map {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

svg {
    border: 2px solid black;
    width: 80px;
    background-color: black;
    border-radius: 10px;
}